@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", serif;
  --color-nobel-gold: #C5A059;
}

@layer base {
  body {
    @apply bg-[#F9F8F4] text-stone-800 antialiased;
  }
}

@layer components {
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-stone-100 rounded-full;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-stone-300 rounded-full hover:bg-nobel-gold transition-colors;
  }
}
